
<!-- <div class="card p-sidebar-full">
    <p-slideMenu [model]="items" [viewportHeight]="250" [menuWidth]="175"></p-slideMenu>
</div> -->


<!-- <div class="card flex justify-content-center">
    <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
    <p-slideMenu #menu [model]="items" [popup]="true" [viewportHeight]="250" [menuWidth]="175"></p-slideMenu>
</div> -->

<!-- <p-sidebar>
    <p-sidebar-header>
      <h3>Menú</h3>
    </p-sidebar-header>
    <p-sidebar-content>
      <ul>
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Clientes</a>
        </li>
        <li>
          <a href="#">Productos</a>
        </li>
        <li>
          <a href="#">Pedidos</a>
        </li>
      </ul>
    </p-sidebar-content>
  </p-sidebar>
   -->

   <p-menubar [model]="menuModel" ></p-menubar>
    

