.agregar {
    
    margin: 10px;
    border-radius: 5px;
  }

  .icon-text-gap {
    margin-right: 5px; 
  }

// .sticky-headers th {
//   position: sticky;
//   top: 0;
//   z-index: 2; /* Asegura que el encabezado esté en la parte superior */
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
// }

// .sticky {
  // position: sticky;
  // top: 0;
  // z-index: 2;
//   position: -webkit-sticky; 
//   position: sticky; 
//   top: 0px;
//   z-index: 2;
// }