
  
  .card {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Establece la altura al 100% del viewport */
    min-width: 500px;
  }
  


  