

<div class="card">
    <div class="grid">
        <div>

            <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
                
                <div class="p-fluid">
                    <div class="field">
                        <label for="username">Username</label>
                        <input pInputText id="username" 
                               type="text"
                               class="form-control"
                               formControlName="username" />
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input pInputText id="password" 
                               type="password"
                               class="form-control"
                               formControlName="password"/>
                    </div>
                    <p-button label="Login" 
                              icon="pi pi-user-plus"
                              type="submit"
                              [disabled]="form.invalid">   
                    </p-button>
                </div>

            </form>
        </div>
    </div>
</div> 



