
<!-- <p-toolbar>
    <div class="p-toolbar-group-left p-fixed">
      <span class="p-toolbar-separator">Facturación</span>
    </div>
</p-toolbar>
   -->

 <!-- <div class="container-fluid">
  
    <p-toolbar class="p-toolbar">
      <div class="p-toolbar-group-left">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />

        <button pButton type="button" label="Inicio" class="p-button-text"></button>
        <button pButton type="button" label="Productos" class="p-button-text"></button>
        <button pButton type="button" label="Clientes" class="p-button-text"></button>
        <button pButton type="button" label="Facturas" class="p-button-text"></button>
      </div>
      <div class="p-toolbar-group-right">
        <button pButton type="button" icon="pi pi-user" class="p-button-text"></button>
        <button pButton type="button" icon="pi pi-bell" class="p-button-text"></button>
        <button pButton type="button" label="Cerrar sesión" class="p-button-text"></button>
      </div>
    </p-toolbar>
  </div> -->

  <div class="container-fluid">
  
    <p-toolbar class="p-toolbar">
      <div class="p-toolbar-group-left p-toolbar-center">
        <div class="col-3">
          <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
        </div>
        <div class="col-9 ">
          
            <span class="p-button-label">Facturación</span>
          
        </div>
  
      </div>
    </p-toolbar>
  </div>

 
