
  <!-- <div class="container-fluid"> -->
  
    <!-- <p-toolbar class="p-toolbar ">
      <div class="p-toolbar-group-left p-toolbar-center">
        <div>
          <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="mr-2" />
         
        </div>
        <div class="col-9 ">
          
            <span class="p-button-label">Facturación</span>
          
        </div>
  
      </div>
    </p-toolbar> -->
  <!-- </div> -->

  
  <p-toolbar >
    <div class="p-toolbar-group-left">
      <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" height="40" class="m-2"  />
    </div>
    <div class="p-toolbar-group-left col-7">
      <h2 class="titulo">Facturación</h2>
    </div>
  </p-toolbar>
  