

.form-table td {
  padding: 7px;
}

.form-table label {
  display: block;
  // margin-bottom: 5px;
}

.mi-card{
  max-width:600px; 
  margin: 0 auto; 
  // padding: 1px;
}


.cliente-titulo{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-cliente{
  padding: 20px;
  display: flex;
  justify-content:space-around;
}