/* Establece el contenedor principal en toda la altura y centra contenido */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Ajusta el ancho de la tarjeta según tu preferencia */
  .p-card {
    width: 300px; /* Ajusta el ancho según tu preferencia */
    text-align: left;
  }

  
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .p-card {
    width: 300px; /* Ajusta el ancho según tu preferencia */
    text-align: left;
  }
  