.form-table td {
    padding: 7px;
  }
  
  .form-table label {
    display: block;
  }
  
  .mi-card{
    max-width:600px; 
    margin: 0 auto;
  }
  
  
  .producto-titulo{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .button-producto{
    padding: 20px;
    display: flex;
    justify-content:space-around;
  }