
<app-toolbar></app-toolbar>
<app-sidemenu></app-sidemenu>


<div *ngIf="!factura">
  <p>Cargando información del cliente...</p>

  <p-progressSpinner></p-progressSpinner>
</div>


<h3 class="cliente-titulo">  {{ ( factura.id )? 'Editar' : 'Nuevo' }}
  Cliente:
  <small>{{ factura.empresa }}</small> 
</h3>


<div class="p-card mi-card" *ngIf="factura">

    <form #facturaForm="ngForm" (ngSubmit)="updateCreate()">
            <table class="form-table">

          
              <tr>
                <td><label for="id">ID:</label></td>
                <td><input type="text" id="id" name="id" [(ngModel)]="factura.id" placeholder="ID" class="p-inputtext" required  disabled></td>
              </tr>
              <tr>
                <td><label for="rut">Rut:</label></td>
                <td><input type="text" id="rut" name="rut" [(ngModel)]="factura.rut" placeholder="Rut" class="p-inputtext" required></td>
              </tr>
              <tr>
                <td><label for="empresa">Empresa:</label></td>
                <td><input type="text" id="empresa" name="empresa" [(ngModel)]="factura.empresa" placeholder="Empresa" class="p-inputtext" required ></td>
              </tr>
              <tr>
                <td><label for="fecha">Fecha:</label></td>
                <td><input type="text" id="fecha" name="fecha" [(ngModel)]="factura.createdAt" placeholder="Fecha" class="p-inputtext"  required></td>
              </tr>
              <tr>
                <td><label for="folio">Folio:</label></td>
                <td><input type="folio" id="folio" name="folio" [(ngModel)]="factura.folio" placeholder="Folio" class="p-inputtext" required ></td>
              </tr>
              

            
              <tr>
                <td><label for="cliente">Cliente:</label></td>
                <td>
                  <div class="custom-select">
                    <label class="select-label">Seleccione un Cliente:</label>
                    <div class="select-wrapper">
                      <select id="cliente" name="cliente.id" [(ngModel)]="factura.cliente.id" class="p-inputtext" required>
                        <option value="" disabled selected>Seleccione Cliente...</option>
                        <!-- <option *ngFor="let cliente of clientes" [value]="factura.cliente.id" [(ngModel)]="factura.cliente.id">{{ cliente.nombre }}</option> -->
                        <option *ngFor="let cliente of clientes" [value]="cliente.id" >{{ cliente.nombre }}</option>
                      </select>
                    </div>
                  </div>
                </td>
              </tr>

              <tr>
                <td><label for="productos">Seleccione Productos:</label></td>
                <td>
                  <div class="custom-select">
                    <div class="select-wrapper">
                      <select id="productos" name="productos" [(ngModel)]="factura.items" class="p-inputtext" required >
                        <!-- <select id="productos" [(ngModel)]="factura.items" class="p-inputtext" required [ngModelOptions]="{standalone: true}"> -->

                        

                        <option value="" disabled selected>Seleccione Producto...</option>
                        <option *ngFor="let item of items" [value]="item" (click)="seleccionarProducto(item)">{{ item.nombre }}</option>

                      </select>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            
              
            <div *ngIf="productosSeleccionados.length > 0" class="product-table">
              <hr>
              <h2 >Productos Seleccionados</h2>
              <table>
                <tr>
                  <th class="table-header">Cantidad</th>
                  <th class="table-header">Nombre</th>
                  <th class="table-header">Precio</th>
                  <th class="table-header">Subtotal</th>
                </tr>
                <tr *ngFor="let producto of productosSeleccionados;  let i = index">
                  <td>
                    <input type="number" name="item" [(ngModel)]="cantidadProductos[producto.id]" [ngModelOptions]="{standalone: true}" min="1" style="width: 50px;">
                  </td>
                  <td>{{ producto.nombre }}</td>
                  <td>{{ producto.precioVenta }}</td>
                  <td>{{  parseFloat(producto.precioVenta) * cantidadProductos[producto.id]}}</td>               
                  <td>
                    <button (click)="eliminarProducto(i)" pButton class="p-button-rounded p-button-text p-button-danger" icon="pi pi-times" ></button>
                  </td>
                </tr>
              </table>
              <hr>


           <div class="p-card mi-card">

            <div class="total-container">
              <table class="total-table">
                <tr>
                  <td class="total-label"><label for="subtotal">Subtotal:</label></td>
                  <td class="total-value">{{ calcularSubtotalTotal() |currency:'USD':'symbol' }}</td>
                </tr>
                <tr>
                  <td class="total-label"><label for="subtotal">iva 16%:</label></td>
                  <td class="total-value">{{ calcularIva() |currency:'USD':'symbol' }}</td>
                </tr>
                <!-- <tr>
                  <td class="total-label"><label for="subtotal">Subtotal:</label></td>
                  <td><input type="text" id="iva" name="iva" [(ngModel)]="factura.iva" placeholder="iva" class="p-inputtext"  required></td>
                </tr> -->
                <!-- <tr>
                  <td class="total-label"><label for="iva">iva 16 %:</label></td>
                  <td><input type="text" id="iva" name="iva" [(ngModel)]="factura.iva" placeholder="iva" class="p-inputtext"  required (change)="calcularIva()"></td>
                </tr> -->
                <tr>
                  <td class="total-label"><label for="total">Total:</label></td>
                  <td class="total-value" [(ngModel)]="factura.total">{{ calcularTotal() | currency:'USD':'symbol' }}</td>
                  <!-- <td class="total-value"><input type="text" id="total" name="btotal" [value]="calcularTotal() | currency:'USD':'symbol'" class="p-inputtext" [disabled]="factura.id ? true : false" /></td> -->
                </tr>
                
                
              </table>
            </div>

          </div>

         </div>
            
         
            
            <div class="button-factura">
              <button type="button" 
                      pButton icon="pi pi-times" 
                      label="Cancelar" 
                      class="p-button-secondary p-button-sm"
                      [routerLink]="['factura/listado']">
              </button>
              <button type="submit" 
                      pButton icon="pi pi-check" 
                      [label]="(factura.id) ? 'Editar' : 'Crear'" 
                      class=" p-button-sm">
              </button>
            </div>
      
    </form>
</div> 