.form-table td {
  padding: 7px;
}

.form-table label {
  display: block;
}

.mi-card{
  max-width:600px; 
  margin: 0 auto;
}

.cliente-titulo{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-factura{
  padding: 20px;
  display: flex;
  justify-content:space-around;
}

.custom-select {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-select select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select-label {
  font-weight: bold; 
  color: #494949; 
}

label {
  color: #333;
  font-weight: bold;
}
