<!-- 
<div class="p-card">
  <div class="p-card-header">
    Ingresar Datos del Cliente
  </div>
  <div class="p-card-body">
    <form #clienteForm="ngForm">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" placeholder="Nombre" class="p-inputtext" required>
      </div>
    

      <button type="submit" pButton icon="pi pi-check" label="Guardar"></button>
    </form>
  </div>
</div> -->
