<p>crear works!</p>

<!-- <div class="p-card p-fluid p-flex p-jc-center" *ngIf="cliente">
    
    <div class="p-card-body">

        <div class="p-card-header">
            <img [src]="cliente.avatar" alt="Avatar" width="300" height="300">
          </div>
      <ul>
        <li>
            <strong>Nombre:</strong>
            {{ cliente.nombre}}
        </li>
        <li>
          <strong>Fecha de Creación:</strong>
          {{ cliente.fechaCreacion | date }}
        </li>
        <li>
          <strong>Dirección:</strong>
          <input [(ngModel)]="cliente.direccion" />
        </li>
        <li>
          <strong>Teléfono:</strong>
          <input [(ngModel)]="cliente.Telefono" />
        </li>
        <li>
          <strong>Email:</strong>
          <input [(ngModel)]="cliente.email" />
        </li>
        <li>
          <strong>ID:</strong>
          {{ cliente.id }}
        </li>
      </ul>
    </div>
    <div class="p-card-footer">
      <div class="p-grid p-justify-content-center">
        <button pButton class="p-button-secondary" icon="pi pi-pencil" (click)="guardarCambios()">Guardar Cambios</button>
        <button pButton class="p-button-danger" icon="pi pi-trash" (click)="eliminar()">Eliminar</button>
        <button pButton icon="pi pi-arrow-left" [routerLink]="['/cliente/listado']">Regresar</button>
      </div>
    </div>
  </div>
   -->

 <!-- cliente-form.component.html -->
<!-- <div class="p-card">
    <h2>{{ isNew ? 'Agregar Nuevo Cliente' : 'Editar Cliente' }}</h2>
    <form #clienteForm="ngForm">
      <div class="p-fluid p-field">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text" [(ngModel)]="cliente.nombre" name="nombre" required />
      </div>
      <div class="p-fluid p-field">
        <label for="direccion">Dirección</label>
        <input id="direccion" type="text" [(ngModel)]="cliente.direccion" name="direccion" *ngIf="editableFields.direccion" />
        <span *ngIf="!editableFields.direccion">{{ cliente.direccion }}</span>
      </div>
      <div class="p-fluid p-field">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text" [(ngModel)]="cliente.Telefono" name="telefono" *ngIf="editableFields.telefono" />
        <span *ngIf="!editableFields.telefono">{{ cliente.Telefono }}</span>
      </div>
      <button pButton type="button" (click)="guardarCambios()" label="Guardar"></button>
      <button pButton type="button" (click)="eliminar()" *ngIf="" label="Eliminar"></button>
    </form>
  </div> -->
  
  
  